<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
<link rel="icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" sizes="any">

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const titleLink = document.querySelector('.site-title');
    if (!titleLink) return;

    if (!titleLink.querySelector('.site-logo')) {
      const img = document.createElement('img');
      img.src = "{{ '/assets/img/logotipo.png' | relative_url }}";
      img.alt = "IBERO";
      img.className = 'site-logo';
      titleLink.prepend(img);
    }
  });
</script>
